<div class="container">
      <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4">
                  <div class="card">
                        <div class="card-body">
                              <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login()">
                                    <div class="mb-3">
                                          <h4>Login</h4>
                                    </div>
                                    <div class="mb-3">
                                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                                          <input type="email" class="form-control" name="Email" [(ngModel)]="email"
                                                #Email="ngModel"
                                                [ngClass]="{'is-invalid': loginForm.submitted && Email.invalid }"
                                                required>
                                          <small *ngIf="loginForm.submitted && Email.invalid "
                                                class="invalid-feedback">Email is required*</small>

                                    </div>
                                    <div class="mb-3">
                                          <label for="exampleInputPassword1" class="form-label">Password</label>
                                          <input type="password" class="form-control" name="Password"
                                                [(ngModel)]="password" #Password="ngModel"
                                                [type]="isTextFieldVisible ? 'text' : 'password'" [ngClass]="{
                                                          'is-invalid': loginForm.submitted && Password.invalid 
                                                        }" required>
                                          <i [ngClass]="isTextFieldVisible ? 'bi bi-eye' : 'bi bi-eye-slash'"
                                                (click)="togglePasswordField()"></i>
                                          <small *ngIf="loginForm.submitted && Password.invalid "
                                                class="invalid-feedback">Password is required*</small>

                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <div class="row">
                                          <div class="col-6">
                                                <a href="/register" class="txt-style">Need Account ?<span
                                                            class="text">Register</span></a>
                                          </div>
                                          <div class="col-6">
                                                <a href="" class="txt-style">Forgot Password ?</a>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
            <div class="col"></div>
      </div>
</div>