<div class="container">
      <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4">
                  <div class="card">
                        <div class="card-body">
                              <form>
                                    <div class="mb-3">
                                          <h4>Welcome</h4>
                                    </div>
                                    <div class="mb-3">
                                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat sunt
                                                commodi enim praesentium sint ex ut laborum! Repellendus consequatur
                                                molestiae veniam cum ab harum expedita repellat ad placeat ullam! Quam
                                                consectetur est corrupti quia quidem architecto mollitia excepturi
                                                sapiente provident iste impedit maxime debitis laboriosam quibusdam amet
                                                molestias, ex, rerum sequi. Praesentium nostrum vel explicabo quas eos
                                                similique. Ratione repellendus, voluptates error omnis saepe ea nulla
                                                aliquid, dolorum voluptatum eveniet dolorem provident repellat, nam
                                                magnam natus quisquam delectus libero blanditiis dolor! Quidem fugiat
                                                ipsam quasi atque perspiciatis vero id asperiores, natus quia ipsa
                                                pariatur tempore quod adipisci eum architecto maxime similique officia
                                                accusamus incidunt sequi odio, non modi consequatur? Unde dolorem autem
                                                error sapiente enim, optio temporibus inventore omnis nam assumenda
                                                tenetur totam repudiandae maxime porro adipisci fuga esse necessitatibus
                                                doloremque deleniti non libero delectus, sint quia? Vel iusto earum vero
                                                numquam fugit alias at accusamus consequuntur laudantium doloremque
                                                exercitationem quas qui, incidunt ex doloribus corrupti dolorum
                                                voluptate quo eius rem cupiditate ratione aut. Eum officiis molestiae,
                                                sed quas velit atque odio maiores amet optio asperiores sit ab impedit
                                                obcaecati, iure perferendis aperiam commodi! Soluta nisi assumenda, non,
                                                iusto maxime sed temporibus optio voluptatibus laborum cupiditate error,
                                                beatae amet distinctio iure eos necessitatibus tempore est unde dolore
                                                incidunt tempora debitis accusamus deleniti! Dolores cupiditate adipisci
                                                fugit. Consequatur sint quas eum, aliquam laboriosam nam natus adipisci
                                                dignissimos itaque obcaecati dolorem explicabo enim facere saepe. Nisi
                                                dignissimos quod, est eius, dolorum nesciunt officiis natus quam,
                                                inventore molestiae sapiente fugit commodi quae rerum laborum iure ex
                                          </p>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary" (click)="logout()">Logout</button> -->

                              </form>
                        </div>
                  </div>
            </div>
            <div class="col"></div>
      </div>
</div>