<div class="container">
      <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4">
                  <div class="card">
                        <div class="card-body">
                              <form #registrationForm="ngForm"
                                    (ngSubmit)="registrationForm.form.valid && forgotPassword()">
                                    <div class="mb-3">
                                          <h4>Forgot Password</h4>
                                    </div>
                                    <div class="mb-3">
                                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                                          <input type="email" class="form-control" name="email" [(ngModel)]="email"
                                                #Email="ngModel"
                                                [ngClass]="{'is-invalid': registrationForm.submitted && Email.invalid }"
                                                required>
                                          <small *ngIf="registrationForm.submitted && Email.invalid "
                                                class="invalid-feedback">Password is required*</small>

                                    </div>

                                    <button type="submit" class="btn btn-primary">Send link</button>
                                    <div class="row">
                                          <div class="col-6">
                                                <a href="/login">Back to <span class="text">Login</span></a>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
            <div class="col"></div>
      </div>
</div>